.head{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    border-bottom: 1px solid black;
    z-index: 999;
    background-color: white;
}
.head-left{
    width: 150px;
    height: 80px;
    position: relative;
    left: 30px;
    display: inline-block;
}
.head-left img{
    width: 150px;
    height: 80px;
}
.head-search {
    width: 700px;
    height: 34px;
    border: 2px solid black;
    display: inline-block;
    position: absolute;
    left: 220px;
    top: 31px;
}
.head-search input {
    float: left;
    flex: 4;
    width: 660px;
    height: 34px;
    border-style: none;
    outline: none;
    /* border:2px solid #f36b11;*/
    box-sizing: border-box;
    padding-left: 10px;
}
.btn-list-group {
    position: relative;
    margin-right: 10px;
    z-index: 99;
}
.btn-list-area {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
}
.btn-list-group:hover .btn-list-area {
    display: block;
}
.btn-list-group a:hover img{
    filter:alpha(Opacity=80);
    -moz-opacity:0.8;
    opacity: 0.6;
}
.btn {
    display: inline-block;
    padding: .4em .7em;
    font-size: 14px;
    font-weight: 400;
    color: #6c757d;
    text-align: center;
    line-height: 1.5;
    background-color: #fff;
    border: 1px solid #e9ecef;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.head-search button {
    float: right;
    flex: 1;
    height: 34px;
    background-color: #a40303;
    color: #ffdfd4;
    border-style: none;
    outline: none;
    position: absolute;
    right: 0px;
}

.head-search button a {
    font-size: 18px;
    color: #ffdfd4;
    text-decoration: none;
}
.head-right{
    width: 300px;
    float: right;
    position: relative;
    top: 22px;
    right: 80px;
}

.head-right a{
    text-decoration: none;
}
.list{
    text-align: center;
    padding-left: 37px;
    width: 180px;
    height: 600px;
    position: fixed;
    top: 15%;
    left: 20px;
    border: 1px black solid;
    border-radius: 5px;
    display: inline-block;
}
a{
    text-decoration: none;
    color: black;
}
th{
    text-align: center;
    line-height: 50px;
}

th:hover{

    background-color: rgba(226, 223, 223, 0.82);
}

.goods{
    left: 200px;
    width: 1250px;
    position: relative;
    top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.goods-item{
    width: 200px;
    height: 300px;
    text-align: center;
    border: 1px solid #f3f3f7;
    border-radius: 5px;
    overflow: hidden;
}
.goods-item:hover{
    box-shadow: 0px 5px 5px grey;
}
.goods-item img{
    width: 150px;
    height: 150px;
    cursor: pointer;
    transition: all 0.6s;
}
.goods-item button{
    border: 1px solid #b42323;
    box-shadow: 0 1px 2px #e99494 inset,0 -1px 0 #954b4b inset,0 -2px 3px #e99494 inset;
    background: -webkit-linear-gradient(top,#d53939,#b92929);
    background: -moz-linear-gradient(top,#d53939,#b92929);
    background: linear-gradient(top,#d53939,#b92929);
    color: white;
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
}
.goods-item img:hover{
    transform: scale(1.4);
}
p{
    margin: 0;
    padding: 0;
}
audio{
    margin:0.25rem 0;
    width: 100px;
    height:100px;
    border-radius: 25px;
    background:rgb(187, 221, 213);
    background: linear-gradient(90deg, rgba(255,255,255,0.82) 0%, rgba(255,255,255,1) 100%);
    position:relative;
}
