<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AUCTIONDETAIL</title>
    <link type="text/css" rel="stylesheet" href="/css/orderDetail.css">
</head>
<body>
  <div class="logo">
    <a th:href="@{/backHome}"><img src="/images/logo.png"></a>
  </div>
  <h1>拍卖详情</h1>
  <br>
  <hr>
  <table id="table1">
    <thead>
    <tr>
      <th>用户名</th>
      <th>出价时间</th>
      <th>价格</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="record : ${auctionRecords}" >
      <td th:text="*{record.userName}" >1</td>
      <td th:text="*{record.biddingTime}" >hdhdhd</td>
      <td th:text="*{record.price}" >1</td>
    </tr>

    </tbody>
  </table>
  <script>
    // 在页面加载时替换所有单元格中的 "T" 为 " "
    document.addEventListener('DOMContentLoaded', function() {
      var cells = document.querySelectorAll('td');
      cells.forEach(function(cell) {
        cell.textContent = cell.textContent.replace(/T/g, ' ');
      });
    });
  </script>
</body>
</html>
