<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AUCTIONDETAIL</title>
    <link type="text/css" rel="stylesheet" href="/css/orderDetail.css">
</head>
<body>
  <div class="logo">
    <a th:href="@{/backHome}"><img src="/images/logo.png"></a>
  </div>
  <h1>拍卖详情</h1>
  <br>
  <hr>
  <table id="table1">
    <thead>
    <tr>
      <th>用户名</th>
      <th>出价时间</th>
      <th>价格</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>收到回复</td>
      <td>20240207</td>
      <td>32115165</td>
    </tr>

    </tbody>
  </table>
</body>
</html>