<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.nft.mapper.GoodsMapper">

    <!--
        mapper接口映射文件要保证两个一致：
        1，mapper接口的全类名和映射文件的namespace一致
        2，mapper接口中的方法的方法名要和映射文件中的sql的id保持一致
    -->

    <select id="searchGoods" resultType="com.example.nft.pojo.Goods">
        select *from goods where goodsName like "%"#{mohu}"%" and goodsStatus =0
    </select>

    <select id="searchGoodsByAuthor" resultType="com.example.nft.pojo.Goods">
        select *from goods where author like "%"#{mohu}"%" and goodsStatus =0
    </select>
    <select id="searchGoodsByType" resultType="com.example.nft.pojo.Goods">
        select *from goods where type like "%"#{mohu}"%" and goodsStatus =0
    </select>
    <select id="getAllByOwner" resultType="com.example.nft.pojo.Goods">
        select * from goods where owner=#{id}
    </select>
    <select id="getGoodsImgById" resultType="java.lang.String">
        select goodsImg from goods where id=#{id}
    </select>
    <update id="setGoodsStatus">
        update goods set goodsStatus=0
    </update>
    <update id="setOwnerById">
        update goods set owner=#{ownerId} where id=#{goodsId}
    </update>
    <select id="getGoodsNameById" resultType="String">
        select goodsName
        from goods
        where id = #{id}
    </select>
</mapper>
